[Unit]
Description=GPU Metrics Exporter for Prometheus
After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/gpu-metrics-exporter/gpu-metrics-exporter run -config /opt/gpu-metrics-exporter/config.yml
Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target
